.works {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__header {
        margin: 0 0 60px 0;
        font-size: 30px;
        text-align: center;
        color: #fff;
    }
}

.works-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        margin: 0 30px;

        &__photo {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 0 30px 10px;
            overflow: hidden;
            &--center {
                width: 300px;
                height: 300px;
                margin-bottom: 20px;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }

        &__name {
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        &__description {
            text-align: center;
            margin: 0 25px;
            display: none;
            &--center {
                display: block;
            }
        }
    }

    &__control {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #282828;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }
}