* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    position: relative;
}

body {
    background-color: #0b0b0b;
    padding: 20px 0;
    font-family: 'Lato', sans-serif;
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    color: #fff;

    @media screen and (min-width: 370px) {
        max-width: 90%;
    }

    @media screen and (min-width: 370px) {
        position: relative;
    }
}

a {
    text-decoration: none;
}

.button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
}

.company-name {
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 800;
}

.header {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 10px;

    @media screen and (min-width: 370px) {
        display: flex;
    }

    @media screen and (min-width: 900px) {
        padding: 0;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .hamburger {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}

.wrapper {
    margin-top: 80px;
    display: none;
    justify-content: flex-start;
    flex-direction: row;

    @media screen and (min-width: 370px) {
        display: flex;
    }

    .contentLine {
        width: 1px;
        height: 76vh;
        background-color: #5b5d5b7a;
        position: absolute;
        font-size: 15px;

        @media screen and (max-width: 1150px) {
            display: none;
        }

        .dot {
            top: 0;
            position: absolute;
            border-radius: 50%;
            background-color: #968c8c;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;

        }

        .dotContent {
            cursor: pointer;
            opacity: 1;

            &:after {
                content: attr(data-index);
                color: rgb(83, 90, 88);
                position: absolute;
                top: -7px;
                left: 15px;
            }
        }

        .activeDot {
            background-color: #0f33ff;
            transition: all ease .6s;

            &::after {
                content: attr(data-name);
                color: #fff;
                position: absolute;
                top: -7px;
                left: 25px;
            }

            &:before {
                color: #fff;
                content: attr(data-index);
                position: absolute;
                left: -35px;
                top: -7px;
            }

        }

    }
}

.hireUs-btn {
    display: none;
    width: 100px;
    margin: 0 auto;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0f33ff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 0;

    @media screen and (min-width: 650px) {
        display: block;
    }
}

.content {
    margin: 40px auto 0;
    width: 900px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

    &__sections {
        list-style: none;

        .single-section {
            transition: opacity .6s ease;
            opacity: 0;
            height: 0;
            overflow: hidden;
            position: relative;
            z-index: 100;
        }

        .active-section {
            opacity: 1;
            height: auto;
        }
    }
}


.screenTooSmall {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-50%);
    justify-content: center;
    padding: 0 15px;

    @media screen and (min-width: 370px) {
        display: none;
    }

    &__logo {
        margin: 0 auto 20px;
        display: flex;
        align-items: center;
    }

    &__text {
        text-align: center;
        color: #fff;
        font-weight: bold;
    }
}