* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0b0b0b;
    padding: 20px 60px;
    font-family: 'Lato', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;

    .logo {
        display: flex;
        align-items: center;

        p {
            margin-left: 10px;
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 24px;
            color: #ffffff;
            font-weight: 800;
        }
    }

    .hamburger {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}

.wrapper {
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    .contentLine {
        width: 1px;
        height: 76vh;
        background-color: #5b5d5b7a;
        position: relative;
        font-size: 15px;

        .dot {
            top: 0;
            position: absolute;
            border-radius: 50%;
            background-color: #968c8c;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;

        }

        .dotContent {
            cursor: pointer;
            opacity: 1;

            &:after {
                content: attr(data-index);
                color: rgb(83, 90, 88);
                position: absolute;
                top: -7px;
                left: 15px;
            }
        }

        .activeDot {
            background-color: #0f33ff;
            transition: all ease .6s;

            &::after {
                content: attr(data-name);
                color: #fff;
                position: absolute;
                top: -7px;
                left: 25px;
            }

            &:before {
                color: #fff;
                content: attr(data-index);
                position: absolute;
                left: -35px;
                top: -7px;
            }

        }

    }
}

.content {
    margin: 0 250px;
    display: flex;
    flex-direction: column;
    align-self: center;

    
}

.home-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 2px solid #282828;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 30px;
        bottom: -5px;
        left: 20px;
        height: 4px;
        background-color: #0f33ff;
    }
    &__info {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        &__text {
            font-size: 82px;
            letter-spacing: 2px;
            line-height: 72px;
            color: #ffffff;
            font-weight: 800;
            margin-bottom: 40px;
        }

        &__button {
            .button {
                background-color: transparent;
                border: none;
                text-transform: uppercase;
                padding: 5px 12px 5px 12px;
                font-size: 14px;
                line-height: 18px;
                overflow: hidden;
                color: #ffffff;
                font-weight: 600;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .button-bg {
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 23px;
                    z-index: -1;
                    display: block;
                    width: 100%;
                    background-color: #0f33ff;
                    transition: left .2s ease;
                }
                &:hover {
                    cursor: pointer;
                    .button-bg {
                        left: 0;
                    }
                }
                img {
                    margin-left: 10px;
                }
            }
           
            
        }
    }
    &__photo {
        flex-basis: 100%;
        width: 100%;
        margin-left: -180px;
        margin-top: -100px;
        position: relative;
    }
}

.home-features {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    &__feature {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        color: #242424;
        text-decoration: none;
        transition: all .4s ease;
        &:hover {
            color: #fff;
        }
        &__header {
            font-size: 18px;
            letter-spacing: 1px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        &__text {
            font-size: 16px;
        }
    }

}