* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    position: relative;
}

body {
    background-color: #0b0b0b;
    padding: 20px 0;
    font-family: 'Lato', sans-serif;
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 600px) {
        max-width: 90%;
    }

    @media screen and (min-width: 330px) {
        position: relative;
    }
}

.company-name {
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 800;
}

.header {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 10px;

    @media screen and (min-width: 330px) {
        display: flex;
    }

    @media screen and (min-width: 900px) {
        padding: 0;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .hamburger {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}

.wrapper {
    margin-top: 80px;
    display: none;
    justify-content: flex-start;
    flex-direction: row;

    @media screen and (min-width: 330px) {
        display: flex;
    }

    .contentLine {
        width: 1px;
        height: 76vh;
        background-color: #5b5d5b7a;
        position: relative;
        font-size: 15px;

        @media screen and (max-width: 1150px) {
            display: none;
        }

        .dot {
            top: 0;
            position: absolute;
            border-radius: 50%;
            background-color: #968c8c;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;

        }

        .dotContent {
            cursor: pointer;
            opacity: 1;

            &:after {
                content: attr(data-index);
                color: rgb(83, 90, 88);
                position: absolute;
                top: -7px;
                left: 15px;
            }
        }

        .activeDot {
            background-color: #0f33ff;
            transition: all ease .6s;

            &::after {
                content: attr(data-name);
                color: #fff;
                position: absolute;
                top: -7px;
                left: 25px;
            }

            &:before {
                color: #fff;
                content: attr(data-index);
                position: absolute;
                left: -35px;
                top: -7px;
            }

        }

    }
}

.content {
    margin: 40px auto 0;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;


}

.home-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 2px solid #282828;
    position: relative;
    height: 300px;

    @media only screen and (min-width: 900px) {
        height: 100%;
    }

    @media only screen and (min-width: 700px) and (max-width: 900px) {
        height: 350px;
    }


    &::after {
        content: '';
        position: absolute;
        width: 30px;
        bottom: -5px;
        left: 20px;
        height: 4px;
        background-color: #0f33ff;
    }

    &__info {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;

        &__text {
            font-size: 55px;
            line-height: 1;
            letter-spacing: 2px;
            color: #ffffff;
            font-weight: 800;
            margin-bottom: 40px;
            width: 90%;

            @media screen and (min-width: 900px) {
                font-size: 68px;
            }

            @media screen and (min-width: 700px) and (max-width: 900px) {
                font-size: 45px;
            }

            @media screen and (min-width: 600px) and (max-width: 700px) {
                font-size: 35px;
            }
        }

        &__button {
            .button {
                background-color: transparent;
                border: none;
                text-transform: uppercase;
                padding: 5px 12px 5px 12px;
                font-size: 14px;
                line-height: 18px;
                overflow: hidden;
                color: #ffffff;
                font-weight: 600;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .button-bg {
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 23px;
                    z-index: -1;
                    display: block;
                    width: 100%;
                    background-color: #0f33ff;
                    transition: left .2s ease;
                }

                &:hover {
                    cursor: pointer;

                    .button-bg {
                        left: 0;
                    }
                }

                img {
                    margin-left: 10px;
                }
            }


        }
    }

    &__photo {
        flex-basis: 100%;
        width: 100%;
        margin-left: -180px;
        margin-top: -50px;
        position: relative;

        img {
            height: 100%;
        }

        @media screen and (max-width: 600px) {
            display: none;
        }
    }
}

.home-features {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 20px;

    @media screen and (max-width: 650px) {
        flex-direction: column;
    }

    &__feature {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-bottom: 30px;
        color: #242424;
        text-decoration: none;
        transition: all .4s ease;
        font-size: 16px;

        &:hover {
            color: #fff;
        }

        &__header {
            letter-spacing: 1px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 16px;
        }
    }

}

.screenTooSmall {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-50%);
    justify-content: center;
    padding: 0 15px;

    @media screen and (min-width: 330px) {
        display: none;
    }

    &__logo {
        margin: 0 auto 20px;
        display: flex;
        align-items: center;
    }

    &__text {
        text-align: center;
        color: #fff;
        font-weight: bold;
    }
}